body {
    margin: 0;
}
/**** NAVBAR ****/

.navbar {
    flex-flow: column wrap;
    align-items: flex-start;
}

.navbar img {
    padding-left: 10px;
    padding-top: 10px;
}
.navbar li {
    text-align: center;
}

.navbar li a {
    min-width: 50%;
}
.navbar ul {
    width: 100%;
    padding: 0;
}
#register {
    position: absolute;
    top: 0px;
    right: 10px;
    text-align: right;
}




/**** SECTION RECHERCHE ****/ 
