body {
    margin: 0;
}
/**** NAVBAR ****/

.navbar {
    flex-flow: column wrap;
    align-items: flex-start;
}

.navbar img {
    padding-left: 16px;
    padding-top: 10px;
}
.navbar li {
    text-align: center;
    min-width: 50%;
}

.navbar li a {
    display: block;
    width: 100%;
    padding: 16px ;
    border-bottom: 3px solid #f2f2f2;
}

.navbar ul {
    width: 100%;
    padding: 0;
}
#register {
    position: absolute;
    top: 0px;
    right: 10px;
    text-align: right;
    padding-right: 10px;
    border: none;
}

.navbar a:hover {
    border-top: none;
    border-bottom: 3px solid #0065FC;
}


/**** SECTION RECHERCHE ****/ 

.search {
    padding: 16px;
}

.search form {
    padding-top: 20px;
}

.search input {
    min-width: 300px;
}

.search button span {
    display: none
}

.search button #icon_search {
    display: block;
}

.search button #icon_search i {
    padding: 0;
    background-color: #0065FC;
}

.search form button {
    border-radius: 15px;
    margin: -15px;
}