/**** Général ****/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body 
{
font-family:"Raleway", sans-serif;
}

header, .search, main, .activity, .about{
    max-width: 1440px;
    margin: auto;
}

a 
{
    text-decoration: none;
}

ul {
    list-style-type: none;
}
.blue {
    color: #0065FC;
}

.grey {
    color: lightgray;
}

html {
    scroll-behavior: smooth;
}

/**** NAV BAR ****/

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-size: 1em;
}

.navbar ul {
    display: flex;
    align-items: center;
    padding: 30px;
    margin: 0;
}

.navbar a {
    color: black;
    padding: 28px;
}

#register {
    font-weight: bold;
    color: #0065FC;
}

.navbar a:hover {
    color: #0065FC;
    border-top: solid 2px #0065FC;
}

/**** SECTION RECHERCHE ****/

.search h1 {
    padding-top: 10px; 
}

.search > p {
    padding-top: 10px ;
    padding-bottom: 10px;
}

.search form {
    display: flex;
    align-items: center;
    padding: 10px 0 ;
}

.search form i {
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    padding: 16px;
}

.search form input {
    border: none;
    border: #F2F2F2 1px solid;
    padding: 14px;
    outline: 0;
    font-weight: bold;
    font-size: 16px;
}

.search ::placeholder {
    color: black;
}

.search button #icon_search {
    display: none;
}

.search form button {
    background-color: #0065FC;
    padding: 16px;
    border: none;
    border-radius: 0 15px 15px 0;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

/**** FILTRES ****/

.filter > p {
    font-size: 16px;
    font-weight: bold;
}

.filter {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.filter .container {
    display: flex;
}

.filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    }

.filter .filter-button i {
    color: #0065FC;
    font-size: 22px;
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}

.filter .filter-button {
    border: #F2F2F2 solid 2px ;
    border-radius: 30px;
}

.filter .filter-button p {
    margin: 0 15px;
    font-weight: bold;
}

.filter .filter-button:hover {
    background-color: #0065FC;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.info {
    display: flex;
    align-items: center;
    padding: 40px 0 40px 0;
}

.info i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    border: #F2F2F2 solid 3px;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    font-size: 14px;
}

.info p {
    padding-left: 10px;
}
/**** MAIN ****/

main {
    display: flex;
    flex-flow: row wrap;
}

.accomodation {
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-right: 20px;
    height: auto;
    flex: 2.5;
}

.popular {
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 20px;
    flex: 1;
}

/**** Hébergements ****/ 

.accomodation img {
    height: 125px;
    width: 250px;
}

.accomodation h2 {
    padding: 50px 50px 0 50px;
    
}
.accomodation .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px 30px 30px 30px
}

.accomodation .container a {
    background-color: white;
    border-radius: 15px;
    padding: 4px;
    margin: 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    font-size: 13px;
    min-height: 190px;
    color: black;
    box-shadow:  5px 5px 15px lightgray;
}

.accomodation .container img {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.accomodation .container a h3,
.accomodation .container a p,
.accomodation .container a .stars-accomodation {
    padding-left: 10px;
}


.accomodation .container a:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

.more {
    margin: 0px 0 30px 50px;
}

.more a {
    color: black;
    font-weight: bold;
    font-size: 17px;
}

/**** Populaires ****/ 

.popular img {
    height: 125px;
    width: 125px;
}

.more-popular {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 10px 50px;
}

.more-popular i {
    display: flex;
    align-items: center;
    font-size: 25px;
}

.popular .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 30px 30px 30px; 
}

.popular .container a {
    color: black;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px lightgray;
    display: flex;
    margin: 16px;
    padding: 4px;
}

.popular .container .resume {
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    justify-content: space-between;
    font-size: 13px;
}

.popular img {
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}

.popular a:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

/**** ACTIVITY ****/

.activity {
    margin-top: 60px;
    margin-bottom: 40px;
}
.activity .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.activity h3 {
    padding: 15px;
}

.activity h2{
    padding-bottom: 30px;
}
.activity img {
    height: 400px;
    width: 320px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.activity #card_2 img{
    max-height: 180px;
}

.activity #card_3 img{
    max-height: 120px;
}

.activity #card_5 img{
    max-height: 150px;
}

.activity #card_6 img{
    max-height: 150px;
}

#activity_pair {
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
}

.activity a {
    color: black;
    display: inline-block;
    box-shadow: 5px 5px 15px lightgray;
    border-radius: 15px;
}

.activity a:hover {
    transform: scale(1.1);
    transition: 0.7s;
}


/**** FOOTER ****/

footer {
    background-color: #F2F2F2;
}

.about {
    display: flex;
}

.about .container {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    width: 33%;
}

.about .container h3 {
    font-size: 20px;
}
.about .container ul {
    font-size: 18px;
    padding-top: 20px;
}

.about li {
    padding-bottom: 15px;
}

.about a {
    color: black;
}
.about a:hover {
    color: #0065FC;
}