/**** Général ****/

body 
{
font-family:"Raleway", sans-serif;
max-width: 1440px;
margin: auto;
}

a 
{
    text-decoration: none;
}

/**** NAV BAR ****/

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-size: 1em;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 30px;
    margin: 0;
}

.navbar a {
    color: black;
    padding: 28px;
}

#register {
    font-weight: bold;
    color: #0065FC;
}

.navbar a:hover {
    color: #0065FC;
    border-top: solid 2px #0065FC;
}

