/**** Général ****/

body 
{
font-family:"Raleway", sans-serif;
max-width: 1440px;
margin: auto;
}

a 
{
    text-decoration: none;
}

/**** HEADER ****/
header
{
    padding: 2px;
    display: flex;
    justify-content: space-between;
}

header ul
{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 30%;

}

header a 
{
    color: black;
}

.register
{
    color:#0065FC ;
}

header a:hover
{
    border-top:#0065FC solid 2px ;
}